@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  @apply font-raleway;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sora font-medium;
}

.input,
.textarea {
  font-size: 1rem;
}

.textarea {
  line-height: 1.5rem;
}

.btn {
  @apply shadow-md;
  font-size: 1rem;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.btn.btn-accent {
  color: #fff;
}
